body {
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color:#fff;

    background-color: #fff;
}


.visually-hidden {
    position: absolute;
    clip:rect(0 0 0 0);
    width:1px;
    height: 1px;
    margin:-1px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
}

.container {
    width:100%;
    max-width:1200px;
    margin:0 auto;
    padding:0;
}

.main-header { 
    width:100%;
    height: 100vh;
   padding-top: 25px;
   background: url(../img/picture.png) center no-repeat;
   background-size: cover;
}

.main-navigator {
    display:flex;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    font-weight: 700;
}

.site-navigator {
    font-family: 'Montserrat', sans-serif;
    margin-top:10px;
    font-size: 14px;
   display:flex;
   margin-left:400px;
}

.site-navigator li>a {
    margin: 0 27px;
    color:#fff;
    text-transform: uppercase;
    transition: color .2s linear;
}

.site-navigator li>a:hover {
    color:#fce38a;
    border-bottom: 2px solid #fce38a ;
}

.main-text {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}

.title {
    font-size: 150px;
    line-height: 140px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin:0 auto;
}

.title::after {
    content: "";
        display:block;
        height: 5px;
        width: 60px;
        background-color:#fff;
        margin:50px auto;
}

.subtitle{
    font-size: 72px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    font-family: 'Kaushan Script', cursive;
}

.search-panel {
    margin-top:10px;
    display:flex;
}

.search-panel li {
    margin: 0 21px;
}

.btn {
    color:#fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border:2px #fff solid;
    padding:5px 15px;
}

.btn:hover {
    color:#000;
    background-color: #fff;
}

.slider {
    margin-top:110px;
    display: flex;
    justify-content: space-between;
}

.slide-item {
    border-top: 2px solid #fff;
    width:280px;
    opacity:0.7;
    position: relative;
}

.slide-menu {
    font-size: 19px;
    text-transform: uppercase;
}

.number {
    font-size: 25px;
    font-weight: 700;
}

.slide-item.active {
    opacity:1;
}

.slide-item.active:before{
    content:"";
    position: absolute;
    width:70px;
    background-color:#f38181;
    height: 2px;
    top:-2px;
}